@import "../../scss/colors";
@import "../../scss/variables";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
  background: $colorGray;
  background-size: cover;
}

.body{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
}

@media screen and (max-height: 600px) {
  .body {
    height:100%;
  }
}

.header__img {
  width: 8rem;
}

.container {
  width: 800px;
  max-width: 800px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: $borderRadius;
  background: $colorWhite;
  justify-content: center;
  align-items: center;
}

.option{
  color: $colorPrimary;
  font: {
    family: $fontFamily;
    size: large;
  }  
}

.column {
  float: left;
  width: 47.5%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 33%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px){
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 900px) and (max-height: 870px) {
  .body{
    height:100%;
  }
}

@media screen and (max-width: 400px){
  .column2 {
    width: 100%;
  }
}

@media screen and (max-width: 400px) and (max-height: 1020px) {
  .body{
    height:100%;
  }  
}

.label{
  font-weight: bold;
  font-size: medium;
  color: $colorPrimary;
}

.label__senha{
  font-weight: bold;
  font-size: medium;
  color: #bbbbbb;
}

.label__radio{
  color: $colorPrimary;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  padding: 0.5rem;
  background: $colorPrimary;  
}

.container,
.form__input,
.form__button {
  font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  font-weight: bold;
  font-size: 32px;
  color: $colorPrimary;
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--error {
  color: $colorError;
}

.form__input-group {
  margin-bottom: 1rem;
}
.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.3rem;
  box-sizing: border-box;
  border-radius: $borderRadius;
  border: 1px solid #dddddd;
  outline: none;
  background: $colorWhite;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: $colorPrimary;
  background: $colorWhite;
}

.form__input--error {
  color: $colorError;
  border-color: $colorError;
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: $colorError;
}

.div__button{
  padding-top: 1rem;
  text-align: center;
}

.form__button {
  
  width: 50%;
  padding: 0.8rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: $colorWhite;
  border: 1px solid $colorPrimary;
  border-radius: $borderRadius;
  outline: none;
  cursor: pointer;
  background: $colorPrimary;
}

.form__button:hover {
  color: $colorPrimary;
  background: $colorWhite;
}

.form__button:active {
  transform: scale(0.96);
}

.form__text {
  text-align: center;
}

.form__link {
  color: $colorPrimary;
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}